<html>
  <head>
    <link rel="stylesheet" href="/assets/booking.css">
  </head>
  <body>
  <h1 id="bnb-title">MakersBNB</h1>
  <h2 id="form-subheading">Confirm your booking</h2>
        <div class="accom-card">
          <div class="accom-container">
            <h3><%= @accom.name %></h3>
            <p><%= @accom.description %></p>
            <p><i>£<%= @accom.price_per_night %> per night</i></p>
              <form action="/confirm-booking" method="POST">
                <input type="hidden" id="id" name="id" value=<%= @accom.accommodation_id %>>
                <input type="submit" id="submit-booking-<%=@accom.accommodation_id %>" value="Confirm booking">
              </form>
          </div>
        </div>
  </body>
</html>