<html>
<head>
    <link rel="stylesheet" href="/assets/booking.css">
</head>
<body>
    <h1>MakersBNB</h1>

    <% unless @user_accommodations.length.positive? %>
        <h2>You have no accommodations listed</h2><br>
    <% else %>
        <h2>My accommodations</h2>
        <% @user_accommodations.each do |accom|%>
            <div class="accom-card">
                <div class="accom-container">
                    <h3><%= accom.name %></h3>
                    <p><%= accom.description %></p>
                    <p><i>£<%= accom.price_per_night %> per night</i></p>
                </div>
            </div>
            <br>
        <% end %>
    <% end %>

    <form action="/add-accommodation">
        <input type="submit" value="Add accommodation" />
    </form><br>

    <h2>Booking requests</h2>

    <% unless @booking_requests_owner_hash.length.positive? %>
        <h4>You have no booking requests</h4><br>
    <% else %>
        <% @booking_requests_owner_hash.each do |accom_name, booking|%>
            <form action="/respond-to-booking" method="POST">
                <div class="accom-card">
                    <div class="accom-container">
                        <h5><%= accom_name %></h5>
                        <p><%= booking.date%></p>
                        <p>£<%= booking.total_cost %></p>
                        <input type="hidden" name="booking_id" value="<%= booking.booking_id %>" />
                        <input type="submit" name="confirm_booking" value="Confirm" />
                        <input type="submit" name="confirm_booking" value="Deny" />
                        <br>
                    </div>
                </div>
            </form>
        <% end %>
    <% end %>

    <h2>Confirmed bookings</h2>

    <% unless @confirmed_bookings_owner_hash.length.positive? %>
        <h4>You have no confirmed bookings</h4><br>
    <% else %>
        <% @confirmed_bookings_owner_hash.each do |accom_name, booking|%>
            <form>
                <div class="accom-card">
                    <div class="accom-container">
                        <h5><%= accom_name %></h5>
                        <p><%= booking.date%></p>
                        <p>£<%= booking.total_cost %></p>
                        <br>
                    </div>
                </div>
            </form>
        <% end %>
    <% end %>
</body>
<html>