<head>
    <link rel="stylesheet" href="/assets/booking.css">
</head>
<body>
<h1>MakersBNB</h1>

    <% unless @confirmed_bookings_visitor_hash.length.positive? %>
        <h2>You have no confirmed bookings</h2><br>
    <% else %>
        <h2>Your confirmed bookings</h2><br>
         <% @confirmed_bookings_visitor_hash.each do |accom_name, booking|%>
            <br/>
            <div class="accom-card">
                <div class="accom-container">
                    <h5><%= accom_name %></h5>
                    <p><%= booking.date%></p>
                    <p>£<%= booking.total_cost %></p>
                    <br>
                </div>
            </div>
        <% end %>
    <% end %>

    <% unless @booking_requests_visitor_hash.length.positive? %>
        <h2>You have no booking requests</h2><br>
    <% else %>
        <h2>Your booking requests</h2><br>
         <% @booking_requests_visitor_hash.each do |accom_name, booking|%>
            <div class="accom-card">
                <div class="accom-container">
                    <h5><%= accom_name %></h5>
                    <p><%= booking.date%></p>
                    <p>£<%= booking.total_cost %></p>
                    <br>
                </div>
            </div>
        <% end %>
    <% end %>

</body>